* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;



}

.navbar {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;

}

.navbar h1 {
    color: white;


}

.navbar ul {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    font-size: 20px;
    background-color: gold;
}


.navbar ul li {
    list-style: none;


}

.navbar ul li a {
    text-decoration: none;
    color: white;
}